<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= pluralize(@post.errors.count, 'error') %> found
      <ul>
        <% @post.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.submit 'Save Post', class: 'btn btn-primary' %>
  </div>
<% end %>
