<div class='mb-4'>
  <h2><%= @post.title %></h2>

  <h6 class='text-secondary'>
    Submitted <%= time_ago_in_words(@post.created_at) %> Ago by <%= @post.user.email %>
  </h6>
</div>

<p><%= @post.body %></p>

<% if user_signed_in? %>
  <div class='d-flex justify-content-end'>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary mr-2' %>
    <%= link_to 'Delete', post_path(@post), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
