<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bootstrap' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
  </head>

  <body>
    <%= render "shared/header" %>

    <div class="container-fluid">
      <div class="row">
        <%= render "shared/sidebar" %>

        <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
